*{
    font-family: 'Nunito', sans-serif;
}

h1{
    width:50%;
    margin:auto;
    text-align:center;
    text-size-adjust: 110%;
}
ul{
    list-style: none;
    display:flex;
    justify-content:space-evenly;
}

li{
    width:100%;
    margin:20px;
    
    
    
}
.content{
    display:flex;
    justify-content: space-around;
    align-items:center;
}


.mostrecentwork{
    background-color: darkorange;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}

/* this is a smaller image that will not be shown with smaller screens*/
.smallscreen{
    display:none
}


.recent{
    margin:50px;
}

.worktoshow{
    display:flex;
    flex-direction:column;
}

.item{
    /*flex:1 1 50px;*/
    margin:10px 10px;
    padding:20px;
    border: 5px solid black;
    display:flex;
    justify-content:space-around;
}

/*
Code below was used in previous iterations
img.project{
    padding: 5px 100px;
    display:flex;
    justify-content:space-around;
    height:100px;

   figcaption{
    background-color:darkorange;
    position: absolute;
    bottom: 50px;
    left:200px;
    padding:50px;
} */




/* pseudo-class to add interactivity */
.item:hover,
 .mostrecentwork:hover{
    cursor:grab;
    border:medium double black;
}

/* current background colors for featured projects */
.plum{
    background-color: plum;
}

.aqua{
    background-color: aqua;
}

.pink{
    background-color: lightpink;
}

.lime{
    background-color: lime;

}
/* future divs when I have more project */
.teal{
    background-color:darkturquoise;
}

.grey{
    background-color: lightslategray;
}

/* about me section*/
.me{
    width:100%;
    margin:50px;
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}


button{
    margin:20px;
    border-radius:20px;
    padding:50px;
    font-weight: 700;
}

/* links will turn purple when cursor hovers */
a:hover{
    color:purple;
}


/* Responsive to other screen sizes*/
@media screen and (max-width:700px){
    ul{
        position:relative;
        display:block;
        text-align:center; 
    }
    li{
        width:auto;
        display:inline-block;
    }

    .content{
        flex-direction: column;
    }

    .largescreen {
        display:none;
    }

    .smallscreen{
        display:contents;
    }

    item{
        margin:2px;
        padding:10px;
    }
    .me{
        flex-direction:column;
        align-items:center;
        width:30%;
    }
    .contactme{
        flex-direction: column;
        justify-content: center;
    }
    
    
}